Hola,

Has solicitado restablecer la contraseña de tu cuenta en el sistema APPrendiz del SENA.

Para crear una nueva contraseña, por favor haz clic en el siguiente enlace seguro (o cópialo y pégalo en tu navegador):

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si tú no solicitaste este cambio, por favor ignora este correo. Tu cuenta y tu contraseña actual seguirán estando seguras.

Atentamente,
El equipo de APPrendiz
Centro de Gestión Administrativa y Fortalecimiento Empresarial - SENA